// FAVORIT

//LIGHTNESS
@font-face {
    font-family: 'Favorit';
    src: url('../fonts/Favorit-LightMono.eot');
    src: url('../fonts/Favorit-LightMono.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Favorit-LightMono.woff2') format('woff2'),
         url('../fonts/Favorit-LightMono.woff') format('woff'),
         url('../fonts/Favorit-LightMono.ttf') format('truetype'),
         url('../fonts/Favorit-LightMono.svg#Favorit-LightMono') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


// REGULAR
@font-face {
    font-family: 'Favorit';
    src: url('../fonts/Favorit-Regular.eot');
    src: url('../fonts/Favorit-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Favorit-Regular.woff2') format('woff2'),
         url('../fonts/Favorit-Regular.woff') format('woff'),
         url('../fonts/Favorit-Regular.ttf') format('truetype'),
         url('../fonts/Favorit-Regular.svg#Favorit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
//BOLD 
@font-face {
    font-family: 'Favorit';
    src: url('../fonts/Favorit-Bold.eot');
    src: url('../fonts/Favorit-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Favorit-Bold.woff2') format('woff2'),
         url('../fonts/Favorit-Bold.woff') format('woff'),
         url('../fonts/Favorit-Bold.ttf') format('truetype'),
         url('../fonts/Favorit-Bold.svg#Favorit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

//BOLD LINING
@font-face {
    font-family: 'Favorit Bold Lining';
    src: url('../fonts/Favorit-BoldLining.eot');
    src: url('../fonts/Favorit-BoldLining.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Favorit-BoldLining.woff2') format('woff2'),
         url('../fonts/Favorit-BoldLining.woff') format('woff'),
         url('../fonts/Favorit-BoldLining.ttf') format('truetype'),
         url('../fonts/Favorit-BoldLining.svg#Favorit-BoldLining') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



