
// DOM
$gridSize: 1400px;
$gridSizeLarge: 1920px;

// Font
$baseFontSize : 14;
$baseFontSizePx : 14px;

// Colors
$black : #1D1D1B;
$white : #fff;
$grey : #EEEEEE;
$lightblue : #F4F4FF;
$blue : #9294FB;
$green : #69EFCA;
$pink : #EF9CC5;
