
<div class='header__content main-wrapper'>
	<div class="menu--left">
		<div class='main-logo'>
			<a class='logo--link' href='{{ site.url }}'>
					{{ logo }}
			</a>
		</div>
			<nav class='nav__links'>
				{% include 'partial/menu.twig' with {'items': menu.header.right.get_items} %}
			</nav>
	</div>
	<div class="menu--right">
		<nav class='nav__links'>
				{% include 'partial/menu.twig' with {'items': menu.header.left.get_items} %}
		</nav>
		<div class="site__burger-menu">
			<div class="burger-menu__wrapper">
					<span class="burger-menu__line"></span>
					<span class="burger-menu__line"></span>
					<span class="burger-menu__line"></span>
			</div>
		</div>  
	</div>  
</div>
<nav id="slide-nav">
	{% include "partial/menu.twig" with {'items': menuHeader.get_items} %}
	<div class="separator"></div>
	{% include "partial/menu.twig" with {'items': menu.header.left.get_items} %}
	<div class="separator"></div>
</nav>
  

