<div class="header--socials-media">

	<div class="social">
		<a href="{{ sharer.facebook|escape }}" target="_blank" rel="noopener noreferrer" class="aside__social--link">
			<i class="fab fa-facebook-f"></i>
		</a>
	</div>
	<div class="social">
		<a href="{{ sharer.twitter|escape }}" target="_blank" rel="noopener noreferrer" class="aside__social--link">
			<i class="fab fa-twitter"></i>
		</a>
	</div>
	<div class="social">
		<a href="{{ sharer.linkedin|escape }}" target="_blank" rel="noopener noreferrer" class="aside__social--link">
			<i class="fab fa-linkedin-in"></i>
		</a>
	</div>
</div>
