$transition_speed: .2s;

.no-scroll {
	overflow: hidden;
}

#site-header {
	
	max-width: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $green;
	z-index: 10;
	transition: background-color 0.2s ease 0.1s;
	border-bottom:2px solid $black;

	.header__nav-container,
	.header__logo-wrapper,
	.header__logo-wrapper img{
		// transition: all $transition_speed ease;
	}

	.header__content {
		transition: background-color $transition_speed ease .1s, padding $transition_speed ease .1s;
	}
	.header__logo-wrapper--alternate {
		display: none;

	}
	&.sticky {
		position: fixed;
		background-color: $blue;
		transition: background-color $transition_speed ease .1s;
		border-bottom:0px solid $black;
		.header__content {
			transition: padding $transition_speed ease .1s;

			.header__logo-wrapper {
				padding-bottom: 0;
				a:first-child{
					display: none;
				}
				a:last-child{
					display: block;
				}
			}
			.header__nav{
				.cta--header{
					background-color: $green;
					color: $black;
					margin-left: 30px;
					&:hover{
						background-color:transparent;
						color: $blue;
						border-color: transparent; 
						&:before { 
							opacity: 1;
							background-color:$white;
							transform: rotate3d(0,0,1,0deg);
							transition-timing-function: cubic-bezier(.2,1,.3,1);
						}
					}
					a{
						padding: 0;
					}
				}
				ul {
					li.menu-item-has-children{
						> ul.menu{
							background-color: $blue;
							// transition: all .2s ease;
							a{
								color:$white;
								transition:color .35s ease-in-out;
								&:hover{
									color:$green;
									transition:color .35s ease-in-out;
								}
							}
						}
					}
					
					
				}
			}
			 
		}

		.header__nav {
			bottom: 0px;

			ul {
				color: $white;
			}
		}

		.header__cta {
			top: 0px;
		}
		.header--mobile{
			padding-bottom: 6px;
			padding-top: 2px;
		
		}
		.site__burger-menu {
			border-color: $white;
			.burger-menu__wrapper{

				.burger-menu__line {
					background-color: $black;
				}
			}
		}
		.main-logo--mobile{

			a:first-child{
				@include landscape{
					display: none;
				}
			}
			a:last-child{
				@include landscape{
					display: block;
				}
			}
		}
		
	}
}
.header__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	height: 58px;
	@include laptop-small{
		padding: 0 25px;
	}
	@include mobile{
		padding: 0 15px;
	}
	.menu--left,
	.menu--right{
		display:flex;
		align-items: center;
		z-index: 10;
		.nav__links{

			ul{
				display:flex;
				li{
					padding: 0 10px;
				}
			}

		}
	}
	.menu--left{
		.main-logo{
			max-width:90px; 
			width: 100%;
		}
		.nav__links{
			margin-left:25px;
			@include landscape{
				visibility: hidden;
				display: none;			
			}
		}
	}
	.menu--right{
		.nav__links{
			margin-right:25px;
			@include mobile-xl{
				// display: none;
				margin-right: 0;
				font-size: 13px;
			}
		}
	}

}

//BURGER
.site__burger-menu {
		
	display: inline-block;
	width: 24px;
	height: 16px;
	position: relative;
	top: 0px;
	right: 0;
	cursor: pointer;

	.burger-menu__wrapper{
		// @include landscape{
		// 	position: relative;
		// 	top: 30px;
		// 	right: 0;
		// 	width: 34px;
		// 	height: 20px;
		// 	transform: translateY(-50%);
		// 	cursor: pointer;
		// }
		
		.burger-menu__line {
			width: 100%;
			height: 2px;
			background-color: $black;
			position: absolute;
			transition: all .35s ease-in-out;
			&:nth-child(2) {
				top: 50%;
				transform: translateY(-50%);
			}
			&:nth-child(3) {
				bottom: 0;
			}
		}
	}
}

// ACTIVE
#site-header {

	&.active {

		.header__content {
			
			// @include landscape {
			// 	background-color: $blue;
			// 	display: flex;
			// 	opacity: 1;
			// 	transform: translateY(0);
			// 	height: 100%;
			// 	z-index: 10;
			// }
			.header__nav-container {
				padding: 10px 30px;
			}
			.header__logo-wrapper {
				display: block;
			}
			.header__logo-wrapper--mobile {
				display: block;
			}
			.menu--left
			{

				.nav__links{
					visibility: hidden;
					opacity: 0;
					transition: opacity 0.25s ease;
				
				}
			}
			.menu--right{
				.nav__links{
					visibility: visible;
					opacity: 1;
					transition: opacity 0.25s ease;
				
				}
			}
			
		}
		.header__nav {
			@include landscape {
				left: 0;
				transform: translateX(0%) translateY(67px);
				margin-left: 0;
				background-color: $blue;
				display: flex;
				padding: 0 30px 0;
				flex-direction: column;
				ul {
					flex-direction: column;
					max-width: 100%;
					width: 100%;
					li {
						max-width: 100%;
						width: 100%;
						margin: 0;
						a {
							margin-bottom: 20px;
							font-size: 18px;
							line-height: 22.82px;
							font-weight: 800;
							padding: 10px 15px;
							color: $white;
							text-align: left;
							display: inline-block;
						}
						&.cta--header{
							margin-left: 0;
							max-width: 280px;
							width: 100%;
							text-align: center;
							a{
								margin-bottom: 0;
							}
						}
						&.menu-item-has-children {

							.has-childmenu--container{
								position: relative;
								&::after{
									content: url('../images/icon-arrow-forward.svg');
									position: absolute;
									top: 50%;
									transform: translateY(-50%) rotateZ(90deg);
									transition: transform .35s ease-out;
									right: -37px;
								}
							}
							&.open{

								> .has-childmenu--container{
									position: relative;
									&::after{
										transform:translateY(-50%) rotateZ(270deg);
										transition: transform .35s ease-out;
									}

								}

								> ul.menu {
									position: relative;
									opacity: 1;
									visibility: initial;
									display: block;
									transform: translateY(0);
									background-color: $blue;
									box-shadow: none;
									transition: all .35s ease-out;
									li{
										transition: transform .35s ease-in-out;
										transform: scale(1);
										.has-childmenu--container{
											
											&::after{
												content: none;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.main-logo--mobile{
			max-width: 155px;
			width: 100%;
			img{
				@include landscape{
					height: auto;
				}
			}
			a:first-child{
				@include landscape{
					display: none;
				}
			}
			.logo--sticky-mobile{
				@include landscape{
					display: block;
					padding-top: 6px;
				}
			}
		}
		.site__burger-menu {
			border-color: $white;
			.burger-menu__wrapper{
				.burger-menu__line {
					background-color: $black;
					transition: all .35s ease-in-out;
					&:nth-child(2){
						visibility: hidden;
					}
				}
			}
		}
		.burger-menu__line {
			&:nth-child(1) {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
			}

			&:nth-child(2) {
				// transform: translateX(-100%);
				opacity: 0;
			}

			&:nth-child(3) {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
			}
			
		}
	}
}
// NAV ACTIVE
#slide-nav{
	background: $green;
    width: 100%;
    height: 100vh;
    position: fixed;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    top: 0;
    display: none;
    transition: transform 0.45s ease;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
	transform: translateY(-100%);
	z-index: 9;

	&.active-slide{
		transform: translateY(0);
		z-index: 9;
	}
	// .separator{
	// 	max-width: 400px;
	// 	width: 100%;
	// 	height: 1px;
	// 	background-color: $black;
	// 	margin: 20px auto;
	// }

	ul{
		height: auto;
		max-width: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.menu-item{

			a{
			color: #1B1F1E;
			text-transform: uppercase;
			font-size: 20px;
			font-family: "Favorit";
			font-weight: bold;
			line-height: 1.25;
			display: block;
			padding: 10px 0;
			}
		}
		.cta--connect{
		&:after{
			content: none;
		}
		}
	}
}
// ACTIVE STICKY
.sticky{

	#slide-nav{
		background: $blue;
		
	}
}



.cta--connect{
	position:relative;
	&:after{
		content:"";
		position: absolute;
		height: 14px;
		width:2px;
		right: 0;
		top:0;
		bottom:0;
		background-color: $black;
	}
}
.mobile-header__socials{
	color: #1D1D1B;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    max-width: 300px;
    width: 100%;
	padding: 0 30px;
	
	.footer-socials__social{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 13px;
		vertical-align: center;
		max-width: 25px;
		width: 100%;
		height: 25px;
		border-radius: 50%;
		border: 2px solid #1D1D1B;
		transition: all 0.35s ease-in-out;
		.fab{
			transition: color 0.35s ease;

		}
	}
}

//Language switcher CSS
#slide-nav{

	.language-switcher {
		display: flex;
		align-items: flex-start;
		// min-height: 69px;
		margin: 0 auto;
		max-width: 450px;
		width: 100%;
		position: relative;
		cursor: pointer;
		user-select: none;
		margin-top: 20px;
		padding: 20px 0;
		border-top: 1px solid $black;
		border-bottom: 1px solid $black;

		&:before{
			width: 9px;
			height: 9px;
			border: 0;
			background: url('../images/arrow-down.png') 50% 50% no-repeat;
			background-size: 9px;
			transition: transform 0.15s ease;
			position: absolute;
			right: 5px;
			top: 50%;
			transform: translateY(-50%);
			transform-origin: center;
			content: "";
		}

		&.active{

			&:before{
				transform: rotate(-180deg) translateY(50%);
			}

			ul.country-list {
				display: block;
				
			}
		}


		@include mobile-xl{
			flex-direction: column;
			align-items: center;
		}
		.title{
			letter-spacing: 0;
			font-size: 20px;
			line-height: 1;
			font-family: "Favorit", sans-serif;
		}
		.language-switcher__languages {
			position: relative;
			margin: 0 20px;

		

			@include mobile-xl{
				max-width: 100%;
				width: 100%;
				height: 40px;
				margin-top: 20px;
			}
			.country-list{
				cursor: pointer;
				padding: 0;
				margin: 0;
				text-align: left;
				border: 2px solid #1b1f1e;
				border-radius: 24px;
				background: #69efc9;
				box-shadow: none;
				padding-top: 3px;
				padding: 0 10px 0 19px;
				max-height: 200px;
				overflow: auto;
				&.active{
					@include mobile-xl{
						top: 0;
					}
				}
			}
			& > ul {
				position: absolute;
				min-width: 256px;
				padding: 0 10px 0 19px;
				bottom: -10px;
				display: none;
				transform: translateY(100%);
	
			
				& > li{
					display: flex;
					align-items: flex-start;
					background: 0 0;
					border: 0;
					padding: 15px 0 0 0;
					font-weight: 400;
					flex-direction: column;
					max-width: 100%;
					width: 100%;

					&.active{
						padding: 15px 0 0 0;
					}
				}
	
				li {
	
					ul{
						max-width: none;
						align-items: flex-start;
						margin-left: 29px;
						width: auto;

						li{
							padding: 3px 5px;

							a{
								font-size: 14px;
							}
						}
					}
				}
			}
		}
		.langTitle{
			display: flex;
			align-items: center;
		}
		.flag{
			margin: 0 10px 0 0;
			width: 24px;
			height: 20px;
			vertical-align: middle;
			float: left;
			margin-right: 10px;
			max-width: 64px;
		}
	}
}
.country-list::-webkit-scrollbar {
    width: 9px;
}
 
.country-list::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 24px;
    margin: 13px;
}
 
.country-list::-webkit-scrollbar-thumb {
    border-radius: 24px;
    background-color: black; 
}

//Header Landing
.header-landing{
	.main-logo{
		margin-right: 10px;
	}
	.main-logo__partner{
		position: relative;
		
		&::before{
			content: "";
			height: 16px;
			width: 2px;
			background-color: $black;
			position: absolute;
			left: -3px;
			top: 2px;
		}
	}
	.header-logo-partner-img{
		height: 17px;
		margin-left: 7px;
		margin-top: 2px;
	}
}