.content-glossary__wrapper{
    margin: 158px auto 100px;
    
}
.term-single__container{
    display: flex;
    gap: 60px;
}

.term-left-part{
    .go-back{
        img{
            margin-right: 5px;
        }
        &:hover{
            transition: color .35s ease-in-out;
            color: $green;
        }
    }
    .sharer-title{
        margin-top: 24px;
    }
    .header--socials-media{
        display: flex;
        gap: 15px;
        margin-top: 20px;
        .fab{
            font-size: 1.5rem;
            &:hover{
                transition: color .35s ease-in-out;
                color: $green;
            }
        }
    }
}
.term-right-part{
    max-width: 850px;
    width: 100%;
    .term-body{
        p{
            margin-bottom: 24px;

        }   
        a{
            color: $green;
            transition: color .35s ease-in-out;
            
        }
        ul{
            padding-left: 20px;
            li{

            }
        }
    }
}
.term-glossary-h1{
    margin-bottom: 24px;
}