.banner {
	padding: 100px 0 40px;	
}

.banner-logo{
	max-width: 360px;
	width: 100%;
}

.banner__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
}

.banner-content__title{
	margin-bottom: 30px;
}

.banner-content__description{

	p{
		margin-bottom: 14px;
	}
}
.banner__image--mobile,
.banner__image{
	max-width: 410px;
	@include desktop{
		max-width:350px !important;
	}
	@include tablet{
		max-width:250px !important;
	}
}
@media screen and (max-height: 700px) {
	.banner__image--mobile,
	.banner__image{
		max-height: 70vh;
	}
}

.banner__image--safari{
	display:none;
}
.banner__image--safari-mobile{
	display: none;
}

_::-webkit-full-page-media, _:future, :root .banner__image-part--mobile{
	display: none;
	@include tablet{
		text-align: center;
		display: flex;
		justify-content: center;
	}
}

_::-webkit-full-page-media, _:future, :root .banner__image--safari{
	display:block;
	max-width: 410px;
	@include desktop{
		max-width:350px !important;
	}
	@include tablet{
		max-width:250px !important;
	}
}
_::-webkit-full-page-media, _:future, :root .banner__image--safari-mobile{
	display:none;
	max-width: 410px;

	@include desktop{
		display:block;
		max-width:350px !important;
	}
	@include tablet{
		display: block;
		max-width:250px !important;
	}
}



_::-webkit-full-page-media, _:future, :root .banner__image--mobile{
	display:none;
}
_::-webkit-full-page-media, _:future, :root .banner__image{
	display:none;
}
_::-webkit-full-page-media, _:future, :root .banner__image.display-safari{
	display:block;
	max-width: 410px;
	@include desktop{
		max-width:350px !important;
	}
	@include tablet{
		max-width:250px !important;
	}
}
_::-webkit-full-page-media, _:future, :root .banner__image--mobile.display-safari{
	display:none;
	max-width: 410px;
	@include desktop{
		display:block;
		max-width:350px !important;
	}
	@include tablet{
		display: block;
		max-width:250px !important;
	}
}


.banner__position--left {
	flex-direction: row-reverse;
	@include tablet{
		flex-direction: column-reverse;
	}
	.banner__image-part{
		margin-right: 30px;
		@include tablet{
			margin-right:0;
			display: none;
		}
	}
}

.banner__position--right {
	flex-direction: row;
	@include tablet{
		flex-direction: column-reverse;
	}
	.banner__image-part{
		margin-left: 30px;
		text-align: center;
		@include tablet{
			margin-left:0;
			display: none;
		}
	}
	
}
.banner__image-part--mobile{
	display: none;
	@include tablet{
		margin-left:0;
		display: block;
		margin-bottom: 25px;
	}
}


.banner__content {
	max-width: 590px;

	@include tablet{
		text-align: center;
		margin-top: 10px;
	}

	.banner-content__cta-wrapper {
		margin-top: 26px;
		display: flex;
		gap: 20px;
		@include tablet{
			margin-top: 22px;
			flex-direction: column;
			align-items: center;
		}
	}
}

.banner-content__subtitle{
	margin: 30px 0;
}

.trustpilot__wrapper{
	max-width: 700px;
	width: 100%;
	text-align: left;
	margin-top: 26px;
	margin-left: -20px;
	@include tablet {
		max-width: 400px;
		margin: 26px auto 0;
	}
	@include mobile-xl{
		display: none;
	}
}
html[lang="fr-be"],
html[lang="fr-lu"],
html[lang="fr-fr"]{
	.trustpilot__wrapper{
		margin-left: -27px;
	}

}

html[lang="nl-be"]{
	.trustpilot__wrapper{
		margin-left: -12px;
	}
}
.trustpilot__wrapper--mobile{
	display: none;
	max-width: 400px;
	width: 100%;
	text-align: left;
	margin-top: 26px;
	margin-left: -27px;
	@include mobile-xl{
		display: block;
		max-width: 400px;
		margin: 26px auto 0;
		.trustpilot-widget{
			display: flex;
			justify-content: center;
		}
	}
}

html[lang='nl-be'] .page-child{
	.banner{

		.banner__content{
			max-width: 100%;
			width: 100%;
		}
	}
}
