.banner {
	padding: 40px 0;	
}

.banner-logo{
	max-width: 360px;
	width: 100%;
}

.banner__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
}

.banner-content__title{
	margin-bottom: 30px;
}

.banner-content__description{

	p{
		margin-bottom: 14px;
	}
}

.banner__image{
	max-width: 410px;
	@include desktop{
		max-width:350px;
	}
}

.banner__position--left {
	flex-direction: row-reverse;
	@include tablet{
		flex-direction: column-reverse;
	}
	.banner__image-part{
		margin-right: 30px;
		@include tablet{
			margin-right:0;
		}
	}
}

.banner__position--right {
	flex-direction: row;
	@include tablet{
		flex-direction: column-reverse;
	}
	.banner__image-part{
		margin-left: 30px;
		text-align: center;
		@include tablet{
			margin-left:0;
		}
	}
	
}

.banner__content {
	max-width: 590px;

	@include tablet{
		text-align: center;
		margin-top: 10px;
	}

	.banner-content__cta-wrapper {
		margin-top: 26px;
		@include tablet{
			margin-top: 22px;
		}
	}
}

.banner-content__subtitle{
	margin: 30px 0;
}

.trustpilot__wrapper{
	max-width: 400px;
	width: 100%;
	text-align: left;
	margin-top: 26px;
}