.glossary{

    @include laptop-small{
        padding: 0 40px;
    }
	@include mobile-xl{
		max-width: 100%;
		width: 100%;
        padding: 0;
	}
}
.glossary-main-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @media screen and (max-width:1024px) {
        flex-direction: column;
        
    }
}
.glossary__left-part{
    max-width: 400px;
    width: 100%;
    @media screen and (max-width:1024px) {
        max-width: 100%;
    }
    .glossary__section-title{
        margin-bottom: 24px;
        .title{
            font-size: 30px;
            @media screen and (max-width:550px) {
                font-size: 20px;
                line-height: 1.25;
            }
        }
    }
}
.glossary-wrapper{
    display: flex;
    flex-direction:column;
    max-width: 920px;
    width: 100%;

}
.cm-glossary{
    .glossary-container {

        .listNav{
            margin-bottom: 50px;
        }

        .ln-letters{



            a[class*="ln-"] {
                padding: 10px 10px;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.1px;
                font-family: "Favorit", sans-serif;
                border: 0px solid silver;
                cursor: pointer;
                transition: all .3s ease-in-out;
                // &:first-child{
                    //     padding-left: 0;
                    // }
                }
                a:hover, a:active, a:focus,
                a.ln-selected{
                transition: all .3s ease-in-out;
                margin: 0;
                background-color: $green;
            }
        }
        .glossaryList{
            
            li[class*="ln-"]{
                font-size: 30px;
                line-height: 37.5px;
                font-weight: 400;
                font-family: "Favorit", sans-serif;
                margin-bottom: 15px;
                
                a{
                    transition: all .3s ease-in-out;
                    border-bottom: dotted 0px $black !important;
                    color:$black !important;
                    &:hover{
                        transition: all .3s ease-in-out;
                        color: $green !important;
                    }
                }
            }

        }
    }
}
.ln-letter-count{
    visibility: hidden;
}