.investment{
	@include mobile-xl{
		max-width: 100%;
		width: 100%;
	}
    &.ajust{
        padding: 60px 80px 79px;
        @include tablet{
            padding:40px 30px;
        }
        @include mobile-xl{
            margin: 0;
        }
    }
}
.investment-wrapper{

	.section-part__surtitle,
    .section-part__title{
		max-width: 780px;
		margin: 0 auto 35px;
		@include laptop{
			max-width: 600px;
		}
    }
}
.investment__wrapper-list{
    max-width: 1400px;
    margin: 33px auto 0;
}

.investment__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
	
    
    .collaborator-wrapper{
        max-width:264px;
        width: 100%;
        text-align: center;
        margin: 20px 60px 60px 60px;
		@include laptop{
			max-width:128px;
		}
        @include tablet{
            margin: 20px 30px 60px 30px;
        }
		@include mobile-xl{
            margin: 20px auto 40px;
        }

        .collaborator-img{
            max-width: 240px;
            width: 100%;
            height: auto;
            border-radius: 50%;
            @include laptop{
                max-width: 104px;
            }
        }
        .collaborator-name{
            margin-top: 20px;
            @include laptop{
                max-width: 100px;
                margin: 20px auto 0;
            }
            @include mobile-xl{
                max-width: 135px;
            }
        }
        .collaborator-link--wrapper{    
            margin-top: 19px;

            .collaborator-link{
                width: 40px;
                height: 40px;
                margin: auto;
                background-color: $black;
                border-radius: 50%;
                padding: 9px 13px;
                border: 1px solid transparent;
                transition: all .4s ease-in-out;
                &:hover{
                    background-color: transparent;
                    border: 1px solid $blue;
                    transition: all .4s ease-in-out;
                    .fab{
                        color: $blue;
                    }
                }
                
                .fab{
                    color: $white;
                    
                }
            }
        }
    }
}
.investment__cta-wrapper{
	margin-top: 30px;	

}
