.multi-block{

	@include laptop-small{
		padding: 0 40px;
	}
	@include mobile-xl{
		padding: 0;
	}
}
.multi-block__wrapper-list{
	max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
	flex-flow: row wrap;
	margin-top: 23px;
	@include laptop-small{
		flex-flow: column wrap;
	}
	.block{
		padding: 40px;
		background-color: $white;
		margin: 20px 0;
		@include laptop-small{
			margin: 8px 0;
		}
		@include mobile-xl{
			padding: 20px;
		}
		&.small{
			max-width: 389px;
			width: 100%;
			@include desktop{
				max-width: 320px;
			}
			@include laptop-small{
				max-width: 100%;
			}
			
		}
		&.large{
			max-width: 592px;
			width: 100%;
			@include desktop{
				max-width: 484px;
			}
			@include laptop-small{
				max-width: 100%;
			}
		}
		.block-picto{
			margin-bottom: 28px;
			img{
				max-width: 80px;
				width: 100%;
				height: auto;
			}
		}
		.block-text{

			.block-text__title{
				margin-bottom: 9px;
			}
			.block-text__subtitle{
				margin-bottom: 9px;
			}
			.block-text__description{
				min-height: 250px;
			}
		}
	}
}
.multi-block__block-cta-wrapper{
	margin-top: 30px;
}
