//MODAL 
.modal {
	position: fixed;
	top: 0;
	left: -9999px;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .2);
	z-index: -9999;
	font-family: "Favorit", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 100vh;
	width: 100vw;
	
	&.open {
	  z-index: 9999;
	  left: 0;
	}
  
	.modal-wrapper {
		overflow: auto;
		margin: 100px auto;
		max-width: 1200px;	

		 @include laptop-small{
			 padding: 0 30px;
		 }
	}
  
	.modal-content {
	  background-color: $white;
	  padding: 50px 30px 30px;
	  position: relative;
	  border-top-left-radius: 40px;
	  border-top-right-radius: 40px;
	  border-bottom-right-radius: 40px;
	}
	.popup-title{
		margin-bottom: 25px;
	}
  
	.close {
	  position: absolute;
	  top: 0;
	  right: 30px;
	  padding: 30px;
	  cursor: pointer;
  
	  &:before,
	  &:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		height: 2px;
		width: 50%;
		background-color: $black;
	  }
  
	  &:before {
		transform: translate(-50%, -50%) rotate(-45deg);
	  }
	  &:after {
		transform: translate(-50%, -50%) rotate(45deg);
	  }
	}
  }
  .modal-content p{
	margin-bottom: 20px;
	a{
	  font-weight: bold;
	}
  }

.performances {
    @include landscape{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}
.performances-wrapper{
	display: flex;
	@include landscape{
		flex-direction:column;
	}
}
.performances__section-title{
	margin-bottom: 52px;
}
.performances__calcul-part{
	max-width: 655px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 24px 12px;
	@include desktop{
		max-width: 430px;
	}
	@include landscape{
		max-width: 100%;
		background-color: transparent;
	}
	.name__range,
	.range-slider{
		max-width: 100%;
		width: 100%;
		@include desktop{
			max-width: 90%;
		}
		@include tablet{
			max-width: 95%;
		}
	}
	.performance:first-child{
		margin-bottom: 65px;
	}
}
.separator_vertical{
	width: 2px;
	background-color: $grey;
	height: auto;
}

.box-minmax {
	margin-top: 30px;
	width: 608px;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	color: $black;

	span:first-child {
		margin-left: 10px;
	}
}


input[type='range'] {
	max-width: 600px;
	width: 100%;
	-webkit-appearance: none;
	background-color: $grey;
	@include landscape{
		max-width: 100%;
	}
  }

.rs-range {
	margin-top: 29px;
	width: 600px;
	height: 8px;
	-webkit-appearance: none;
	// overflow: hidden;
	// background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);

	outline: none;
	transition: background 450ms ease-in;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-runnable-track {
		width: 100%;
		cursor: pointer;
		box-shadow: none;
		border-radius: 0px;
		border: 0px solid $black;
	}

	&::-moz-range-track {
		width: 100%;
		height: 1px;
		cursor: pointer;
		box-shadow: none;
		background: #ffffff;
		border-radius: 0px;
		border: 0px solid $black;
	}
	&::-ms-track {
		width: 300px;
		height: 5px;
		
		/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
		background: transparent;
		
		/*leave room for the larger thumb to overflow with a transparent border */
		border-color: transparent;
		
	
		/*remove default tick marks*/
		color: transparent;
	}
	&::-ms-fill-lower {
		
		border-radius: 10px;
	}
	&::-ms-fill-upper  {
			
			border-radius: 10px;
	}
	&::-ms-thumb {
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;

		cursor: pointer;
	}
	

	// &::-webkit-slider-thumb {
	// 	box-shadow: none;
	// 	border: 0px solid $black;
	// 	box-shadow: -600px 0 0 600px $green;
	// 	height: 22px;
	// 	width: 1px;
	// 	border-radius: 22px;
	// 	background: $green;
	// 	cursor: pointer;
	// 	-webkit-appearance: none;
	// 	margin-top: -0px;
	// }

	// &::-moz-range-thumb {
	// 	box-shadow: none;
	// 	border: 0px solid $black;
	// 	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
	// 	height: 42px;
	// 	width: 22px;
	// 	border-radius: 22px;
	// 	background: rgba(255, 255, 255, 1);
	// 	cursor: pointer;
	// 	-webkit-appearance: none;
	// 	margin-top: -20px;
	// }


	// Comment because of firefox bug
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		box-shadow: -600px 0 0 600px $green;
		width: 22px;
		height: 22px;
		border: 0;
		box-shadow: none;
		background-color: $green;
		border-radius: 50%;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		     appearance: none;
		box-shadow: -600px 0 0 600px $green;
		width: 22px;
		height: 22px;
		border: 0;
		box-shadow: none;
		background-color: $green;
		border-radius: 50%;
		cursor: pointer;
	}
	  
	//   &::-moz-range-thumb {
	// 	width: 22px;
	// 	height: 22px;
	// 	border: 0;
	// 	right: 16px;
	// 	background-color: $green;
	// 	border-radius: 50%;
	// 	cursor: pointer;
	// 	box-shadow: -600px 0 0 600px $green;
	// }


	&::-moz-focus-outer {
		border: 0;
	}
}


		
		

.rs-label {	
	font-size: 20px;
	line-height: 24px;
	position: relative;
	transform-origin: center center;
	display: block;
	width: 98px;
	height: 20px;
	background: transparent;
	border-radius: 50%;
	text-align: center;
	font-weight: bold;
	box-sizing: border-box;
	margin-left: -44px;
	color: $black;
	font-style: normal;
	margin-top: 16px;
	&::before{
		// content: "";
		content: none;
		position: absolute;
		width: 22px;
		height: 22px;
		background-color: $green;
		border-radius: 50%;
		top: -35px;
		left: 35px;
		z-index: 0;
		pointer-events: none;
	}
	&::after {
		content: "€";
		display: inline-block;
		font-size: 20px;
		letter-spacing: 0.07em;
		margin-top: -2px;
	}

}

.performances__result-part{
	width: 100%;
	text-align: center;
	max-width: 640px;

	@include desktop{
		max-width: 430px;
	}
	@include landscape{
		max-width: 100%;
	}

	.text-part__description{
		margin-bottom: 22px;
	}
}
.performances__cta-wrapper{
	margin-top: 40px;
}
.performances__link-wrapper{
	margin-top: 23px;
	.link{
		font-family: 'Favorit Bold Lining', sans-serif;
		font-size: 16px;
		line-height: 20px;
		transition: color .35s ease-in;
		cursor: pointer;
		&:hover{
			color: $green;
			transition: color .35s ease-in;
		}
	}
}
.performances__result{
	display: flex;
	flex-direction: row;
	justify-content: center;
	@include mobile-xl{
		flex-direction: column;
		align-items: center;
	} 
}
.plus{
	display: none;
	padding-top: 90px;
	margin: 0 15px;
	@include mobile-xl{
		padding-top: 0;
		margin: 15px 0;
	} 
}
.rejected__block{
	display: none;
}
.saving__block,
.rejected__block{
	max-width: 298px;
	width: 100%;
	@include desktop{
		// max-width: 193px;
		max-width: 55%;
	}
	@include landscape{
		max-width: 48%;
    	margin: 0 auto;
	}
	@include mobile-xl{
		max-width: 100%;
	}
}
.saving-comparaison{
	margin-top: 7px;
}
.rejected-saved{
	margin-bottom: 15px;
}
.rejected__report{
    max-width: 260px;
    margin: auto;
}