.prefooter {
	padding: 80px 0 0;
	overflow: hidden;
	min-height: 100%;
	height: auto; // Peut etre à supprimer quand j'aurais les images
	@include tablet{
		display: none;
		height: auto !important;
	}
	&.prefooter--without-slider{
		min-height: 600px;
		padding-bottom: 55px;
		@include mobile{
			padding-bottom: 15px;
		}
	}
}
.prefooter-logo{
	max-width: 360px;
	width: 100%;
}

.prefooter__container {
	max-width: calc(1600px - 60px);
	width: 100%;
	margin: auto;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;
	@include desktop-large{
		margin: 0 30px;
	}
	@include laptop {
		padding: 0 30px;
		margin: 0;
	}

	@include tablet {
		padding: 0 17px;
		margin: 0;
		flex-direction: column-reverse;
		justify-content: center;
	}

}
.prefooter-content__title{
	margin-bottom: 30px;
}
.prefooter-content__description{

	p{
		margin-bottom: 14px;
	}
}

.prefooter__position--left {
	flex-direction: row-reverse;
	@include tablet{
		flex-direction: column-reverse;
	}
	.prefooter__image-part{
		margin-right: 30px;
		@include tablet{
			margin-right:0;
		}
	}
}

.prefooter__position--right {
	flex-direction: row;
	@include tablet{
		flex-direction: column-reverse;
	}
	.prefooter__image-part{
		margin-left: 30px;
		text-align: center;
		@include tablet{
			margin-left:0;
		}
	}
	
}

.prefooter__content {
	position: relative;
	z-index: 0;
	max-width: 590px;
    width: 100%;
	@include tablet{
		text-align: center;
		margin-top: 10px;
	}
	&.disposition-slash{

		@include tablet{
			text-align: left;
		}
	}

	.prefooter-content__cta-wrapper {
		margin-top: 50px;
		max-width: 450px;
		width: 100%;
		justify-content: space-between;
		@include landscape{
			flex-direction: column;
		}
		@include tablet{
			margin-top: 22px;
		}
	}
}
.prefooter-content__subtitle{
	margin: 30px 0;
}



// TYPE SLASH
.prefooter__image-part {
	position: relative;
	width: 100%;
	@include tablet{
		position: relative;
		bottom: initial;
   		width: 100%;
		max-width: 350px !important;
	}
	@include mobile{
		height: auto;
	}

	.prefooter__image {
		max-width: 100%;
		width: 100%;
		position: relative;
		z-index: 0;
		bottom: -3px;
		-o-object-fit: cover;
		   object-fit: cover;
		font-family: "object-fit: cover;";
	}
}

