.simple{

    &.fullwidth{
        padding: 120px 80px;
		@include tablet{
			padding: 40px;
		}
		@include mobile-xl{
			padding: 40px 0px;
		}
    }

}
.simple-wrapper{

    .section-part__title{
        margin-bottom: 90px;
    }
    .section-part__description{
        margin-bottom: 46px;
    }
    .picto-simple{
		margin-bottom: 39px;
	}
	&.text-only{
		.section-part__title{
			margin-bottom: 90px;
			font-size: 36px;
			line-height: 56px;
			
		}
	}
}
