.simple{

    &.fullwidth{
        padding: 120px 80px;
		@include tablet{
			padding: 40px;
		}
		@include mobile-xl{
			padding: 40px 0px;
		}
    }

}
.simple-wrapper{

    .section-part__title{
        margin-bottom: 90px;
    }
    .section-part__description{
        margin-bottom: 46px;
    }
    .picto-simple{
		margin-bottom: 39px;
	}
	&.text-only{
		.section-part__title{
			margin-bottom: 90px;
			font-size: 36px;
			line-height: 56px;
			font-family: 'Favorit Bold Lining', sans-serif;
		}
		.section-part__description{
			margin-bottom: 46px;
			font-size: 30px;
			line-height: 37.8px;
			@include tablet{
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
}
.cta-picto__container{
	display: flex;
	&.justify-center{
		justify-content: center;
	}
	&.space-between{
		justify-content: space-between;
	}
}
.simple__cta-wrapper{
	max-width: 310px;
}
