.simple{

    &.fullwidth{
        padding: 120px 80px;

    }

}
.simple-wrapper{

    .section-part__title{
        margin-bottom: 90px;
    }
    .section-part__description{
        margin-bottom: 46px;
    }
    
}