.steps{
    
    @include tablet{
        padding: 60px 0;
    }
}
.steps__section-title {
	margin-bottom: 30px;
}
.steps-wrapper{
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    align-items: center;
    margin-top: 40px;
    max-width: 1100px;
    @include mobile-xl{
        flex-direction: column;
    }
	.text-part__container{

		display: flex;
    	justify-content: center;
        position: relative;
        padding: 24px 0;
        margin-left: 83px;
		@include landscape{
			margin-left: 50px;
		}
        @include tablet{
            margin-left: 0;
        }
		@include mobile-xl{
			padding: 10px 0;
		}
        &::before{
            content: '';
            position: absolute;
            background-color: $black;
            width: 4px;
            height: 50%;
            top: 0;
            left: 23px;
            transform: translateX(-50%);
			@include tablet{
				top: -79px;
			}
        }
        &::after{
            content: '';
            position: absolute;
            background-color: $black;
            width: 4px;
            height: 50%;
            bottom: 0;
            transform: translateX(-50%);
            left: 23px;
			@include tablet{
				height: 70%;
				bottom: 78px;
			}
        }
	}
    .step__container{
        display: flex;
        align-items: center;
        position: relative;

        &:first-child{

            .text-part__container{

                &::before{
                    content: none;
                }
            }

        }

		&:last-child{

			.text-part__container{

				&:after{
					@include tablet{
						height: 100%;
						bottom: 0;
					}
				}
			}
		}
    }
    .text-part{
        display: flex;
        align-items: center;
        width: 100%;
        height: 250px;
    
        @include tablet{
            max-width: 100%;
            // padding: 0px 16px;
			height: auto;
			align-items: flex-start;
        }
        @include mobile-xl{
            max-width: 100% !important;
            width: 100%;
            // padding: 0 36px;
        }
        .number{
            max-width: 46px;
            width: 100%;
            height: 46px;
            background-color: $white;
            font-size: 20px;
            line-height: 25px;
            font-family: "Favorit", sans-serif;
            font-weight: 600;
            border: 4px solid $black;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 11px;
            border-radius: 50%;
            position: relative; 
            z-index: 3;
            
        }
        .text-part__title{
			margin-bottom: 50px;
        }
        .text-part__description{
            max-width: 990px;
            width: 100%;
            margin-left: 55px;
			@include landscape{
				max-width: 425px;
			}
			@include mobile-xl{
				margin-left: 15px;
			}
			.step-description{

				@include tablet{
					margin-bottom: 30px;
				}
			}
        }

    }
    .steps__image--mobile{
        display: none;
        @include tablet{
            display: block;
        }
		img{
			@include tablet{
				border-top-left-radius: 40px;
				border-top-right-radius: 40px;
				border-bottom-right-radius: 40px;
			}
            @include mobile-xl{
                height: 250px;
                max-width: 100%;
                width: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
                -o-object-position: center;
                   object-position: center;
				font-family: "object-fit:contain; object-position:center";
            }
		}
    }
    .steps__image{
        height: auto;
        position: relative;
        max-width: 438px;
        width: 100%;
        height: 250px;
        text-align: center;
		@include desktop{
			max-width: 383px;
		}
        @include tablet{
            display: none;
        }
        img{
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
                object-fit: cover;
            -o-object-position: center;
                object-position: center;
            position: relative;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }
        
        @include mobile-xl{
            width: 288px;
        }
    }
    .video-part{
        @include laptop{
            max-width: 480px;
            width: 100%;
        }
        video{
            max-width: 100%;
            width: 100%;
        }
    }
}
.steps-wrapper--row{
    flex-direction: column;
    @include landscape{
        flex-direction: column;
    }
}
.steps-wrapper--row-reverse{
    flex-direction: row-reverse;
}
.steps__cta-wrapper{
    @include tablet{
        margin-bottom: 28px;
    }
    &.steps__cta-margin-top{
        margin-top: 30px;
    }
}
.section-steps__cta-wrapper{
	margin-top: 95px;
	@include desktop{
        margin-top: 60px;
    }
	@include tablet{
		margin-top: 10px;
	}
}
