.text-image{
    
    @include tablet{
        padding: 60px 0;
    }
    &.classic{
        
        @include landscape{
            padding: 40px !important;
        }
        @include mobile-xl{
            padding: 40px 0 !important;
            margin: 0;
        }
    }
}
.text-image__section-title{
    text-align: center;
}
.text-image__section-title {
	font-family: "Metropolis", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	margin-bottom: 30px;
}
.text-image-wrapper{
    display: flex;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    align-items: center;
    @include mobile-xl{
        flex-direction: column;
    }
    .text-part{
        // max-width: 700px;
        width: 100%;
		margin-bottom: 0;
        // padding: 0 120px;
        @include landscape{
            max-width: 412px !important;
            padding: 0px 65px 0 6px;
        }
        @include laptop{
            max-width:430px;
        }
        @include tablet{
            max-width: 100%;
            padding: 0px 16px;
        }
        @include mobile-xl{
            max-width: 100% !important;
            width: 100%;
            padding: 0 36px;
        }
		.text-part__surtitle{
        }
        .text-part__title{
			// font-size: 30px;
			// line-height: 1.25;
			// font-family: "Metropolis", sans-serif;
			// font-weight: bold;
			// text-transform: uppercase;
			margin-bottom: 50px;
        }
        .text-part__description{
            // font-family: "Metropolis", sans-serif;
			// font-size: 28px;
			// line-height: 1.25;
			margin-bottom: 30px;
            
            p{
                margin-bottom: 14px;
            }
            ul {

                li{
                    position: relative;
                    padding-left: 40px;
                    margin-bottom: 15px;
					margin-left: 1em;
                    &::before{
                        content: '';
                        position: absolute;
                        background-image: url('../images/LOGO-V-Blanc.png');
                        background-position: center;
                        background-size: cover;
                        width: 30px;
                        height: 30px;
                        left: 0;
                    }
                }
            }
        }

    }

    .text-image__image{

        height: auto;
        /* height: 100%; */
        /* overflow: hidden; */
        position: relative;
        width: 100%;
        text-align: center;
        img{
            width: 100%;
            height: auto;
            -o-object-fit: cover;
                object-fit: cover;
            -o-object-position: center;
                object-position: center;
            position: relative;
            @include tablet{
                max-width: 100% !important;
            }
            @include mobile{
                max-width: 100% !important;
            }
        }
        @include landscape{
            width: 412px;
        }
        @include mobile-xl{
            width: 288px;
        }
    }
    .video-part{
        @include laptop{
            max-width: 480px;
            width: 100%;
        }
        video{
            max-width: 100%;
            width: 100%;
        }
    }
}
.text-image-wrapper--row{
    flex-direction: row;
    @include landscape{
        flex-direction: column-reverse;
    }
}
.text-image-wrapper--row-reverse{
    flex-direction: row-reverse;
	@include landscape{
		flex-direction: column-reverse;
	}
}
.text-image__cta-wrapper{
    @include tablet{
        margin-bottom: 28px;
    }
    &.text-image__cta-margin-top{
        margin-top: 30px;
    }
}
