.text-bubble{
    
    @include tablet{
        padding: 60px 0;
    }
	@include mobile-xl{
		max-width: 100%;
		width: 100%;
	}
    &.classic{
        
        @include landscape{
            padding: 40px !important;
        }
        @include mobile-xl{
            padding: 40px 0 !important;
            margin: 0;
        }
    }
}
.text-bubble__section-title{
    text-align: center;
}
.text-bubble__section-title {
	font-family: "Favorit", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	margin-bottom: 30px;
}
.text-bubble-wrapper{
    display: flex;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    align-items: flex-start;
    @include mobile-xl{
        flex-direction: column;
    }
	.text-part__container{
		width: 100%;
		display: flex;
    	justify-content: center;
		@include landscape{
			max-width: 100% !important;
		}
	}
    .text-part{
        // max-width: 700px;
        width: 100%;
		margin-bottom: 0;
        // padding: 0 120px;
        @include landscape{
            max-width: 100% !important;
            padding: 0px 65px 0 6px;
        }
        @include laptop{
            max-width:430px;
        }
        @include tablet{
            max-width: 100%;
            padding: 0px 16px;
        }
        @include mobile-xl{
            max-width: 100% !important;
            width: 100%;
            padding: 0 36px;
        }
		.bubble__content--text-part{
			display: none;
			@include desktop{
				display: block;
                margin-bottom: 21px;
			}
		}
		.text-part__surtitle{
        }
        .text-part__title{
			// font-size: 30px;
			// line-height: 1.25;
			// font-family: "Favorit", sans-serif;
			// font-weight: bold;
			// text-transform: uppercase;
			margin-bottom: 50px;
        }
        .text-part__description{
            // font-family: "Favorit", sans-serif;
			// font-size: 28px;
			// line-height: 1.25;
			margin-bottom: 30px;
            
            p{
                margin-bottom: 14px;
            }
            ul {

                li{
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 15px;
					margin-left: 1em;
                    &::before{
                        content: '';
						position: absolute;
						background-color: #1D1D1B;
						border-radius: 50%;
						width: 9px;
						height: 9px;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
                    }
                }
            }
        }
    }

    .text-bubble__bubble{
        max-width: 375px;
        width: 100%;
		@include desktop{
			display: none;
		}
		.bubble-part{
			position: relative;
			padding: 77px 34px 75px 33px;
			border-radius: 21px;
			&:after{
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 20px 25px 0 0;
				border-color: #fff transparent transparent transparent;
				top: 60px;
				right: -24px;
			}
		}
		.bubble__content{
			font-size: 18px;
			line-height:24px;
			font-family: 'Favorit Bold Lining', sans-serif;
			text-transform: uppercase;
		}
	}
}
.text-bubble-wrapper--row{
    flex-direction: row;
    @include landscape{
        flex-direction: column-reverse;
    }
}
.text-bubble-wrapper--row-reverse{
    flex-direction: row-reverse;
	@include landscape{
		flex-direction: column-reverse;
	}
}
.text-bubble__cta-wrapper{
    @include tablet{
        margin-bottom: 28px;
    }
    &.text-bubble__cta-margin-top{
        margin-top: 30px;
    }
}
