.trustpilot {
	padding: 80px 0;
	overflow: hidden;
	min-height: 100%;
	height: auto; // Peut etre à supprimer quand j'aurais les images
}
.trustpilot-logo{
	max-width: 360px;
	width: 100%;
}

.trustpilot__container {
	max-width: 1720px;
	width: 100%;
	margin: auto;
	height: 100%;
	
	position: relative;
	@include desktop-large{
		margin: 0 30px;
	}
	@include laptop {
		padding: 0 30px;
		margin: 0;
	}

	@include tablet {
		padding: 0 17px;
		margin: 0;
		flex-direction: column-reverse;
		justify-content: center;
	}

}
.trustpilot-content__title{
	margin-bottom: 30px;
}
.trustpilot-content__description{

	p{
		margin-bottom: 14px;
	}
}

.trustpilot__position--left {
	flex-direction: row-reverse;
	@include tablet{
		flex-direction: column-reverse;
	}
	.trustpilot__image-part{
		margin-right: 30px;
		@include tablet{
			margin-right:0;
		}
	}
}

.trustpilot__position--right {
	flex-direction: row;
	@include tablet{
		flex-direction: column-reverse;
	}
	.trustpilot__image-part{
		margin-left: 30px;
		text-align: center;
		@include tablet{
			margin-left:0;
		}
	}
	
}

.trustpilot__content {
	position: relative;
	z-index: 0;
	max-width: 590px;
    width: 100%;
	@include tablet{
		text-align: center;
		margin-top: 10px;
	}
	
}
.trustpilot-content__subtitle{
	margin: 30px 0;
}

.trustpilot-content__cta-wrapper {
	margin-top: 50px;
	text-align: center;

	@include landscape{
		flex-direction: column;
	}
	@include tablet{
		margin-top: 22px;
	}
}

// TYPE SLASH
.trustpilot__image-part {
	position: relative;
	width: 100%;
	@include tablet{
		position: relative;
		bottom: initial;
   		width: 100%;
		max-width: 350px !important;
	}
	@include mobile{
		height: auto;
	}

	.trustpilot__image {
		max-width: 100%;
		width: 100%;
		position: relative;
		z-index: 0;
		bottom: -3px;
		-o-object-fit: cover;
		   object-fit: cover;
		font-family: "object-fit: cover;";
	}
}

