.two-blocks{

    @include tablet{
        padding: 60px 0;
    }
	@include landscape{
		padding: 40px 0 !important;
	}
	@include mobile-xl{
		padding: 40px 0 !important;
		margin: 0;
	}
    
}
.two-blocks__section-title{
    text-align: center;
}
.two-blocks__section-title {
	font-family: "Metropolis", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	margin-bottom: 30px;
}


.two-blocks-wrapper{
    display: flex;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    align-items: center;
    @include mobile-xl{
        flex-direction: column;
    }
	.text-part__container{
		width: 100%;
		// max-width: 640px !important;
		.operators__list{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 30px;
			@include landscape{
				align-items: flex-start;
			}
			@include tablet{
				align-items: center;
			}
			.operator-wrapper{
				display: flex;
				background-color: $lightblue;
				align-items: center;
				max-width: 445px;
				width: 100%;
				margin-bottom: 20px;
				border-radius: 240px;
				@include landscape{
					max-width: 332px;
				}

			}
			.operator-image{
				@include landscape{
					max-width: 88px;
				}
			}
			.operator-name{
				font-size: 30px;
				line-height: 38px;
				margin-left: 60px;
				@include landscape{
					font-size: 18px;
					line-height: 24px;
					margin-left: 28px;
				}
			}
		}
		&.picto-only{
			width: 100%;
			@include laptop{
				max-width: 220px !important;
			}
			@include tablet{
				display: none;
			}

		}
	}
    .text-part{
        // max-width: 700px;
        width: 100%;
		margin-bottom: 0;
        // padding: 0 120px;
        @include landscape{
            padding: 0px 65px 0 6px;
        }
        @include laptop{
            max-width:430px;
        }
        @include tablet{
            max-width: 100%;
            padding: 0px 16px;
        }
        @include mobile-xl{
            max-width: 100% !important;
            width: 100%;
            padding: 0 36px;
        }
        .text-part__title{
			// font-size: 30px;
			// line-height: 1.25;
			// font-family: "Metropolis", sans-serif;
			// font-weight: bold;
			// text-transform: uppercase;
			margin-bottom: 24px;
        }
        .text-part__description{
            // font-family: "Metropolis", sans-serif;
			// font-size: 28px;
			// line-height: 1.25;
			margin-bottom: 30px;
           
        }

    }

    .two-blocks__buttons-part{
        width: 100%;
        text-align: left;
		@include landscape{
			max-width: 264px !important;
		}
		@include mobile-xl{
			max-width: 100% !important;
			margin: auto;
		}
		.questions-picto{
			max-width: 257px;
			width: 100%;
			height: auto;
			margin-bottom: 10px;
			@include tablet{
				display: none;
			}
		}
		.buttons-wrapper__list{
			width: 100%;
			@include mobile{
				max-width: 100% !important;
			}
		}
    }
}
.two-blocks-wrapper--row{
    flex-direction: row;
    @include tablet{
        flex-direction: column-reverse;
    }
}
.two-blocks-wrapper--row-reverse{
    flex-direction: row-reverse;
	@include tablet{
		flex-direction: column-reverse;
	}
}
.button_title-wrapper{
	margin-bottom: 40px;
	@include landscape{
		display: none;
	}
}
.button_title-wrapper--landscape{
	display: none;
	@include landscape{
		margin-bottom: 80px;
		display: block;
	}
	@include tablet{
		margin-bottom: 37px;
	}
}
